<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align="middle"> Heroínas y los Héroes Tecnológicos. </h1>
    <a target="_blank" href="http://localhost:3030/babbage">Babbage</a>
    <br>
    <br>
    <a target="_blank" href="http://localhost:3030/berners-lee">Berners-lee</a>
    <br>
    <br>
    <a target="_blank" href="http://localhost:3030/clarke">Joan clarke</a>
    <br>
    <br>
    <a target="_blank" href="http://localhost:3030/hamilton">Margaret hamilton</a>
    <br>
    <br>
    <a target="_blank" href="http://localhost:3030/hopper">Grace Murray hopper</a>
    <br>
    <br>
    <a target="_blank" href="http://localhost:3030/lovelace">Ada lovelace</a>
    <br>
    <br>
    <a target="_blank" href="http://localhost:3030/turing">Alan turing</a>
</body>
</html>